<!--<div class = 'pa5 mw-50 f1 b--dark-red ba  '>{{wordsval0}}</div>-->
<h2  *ngIf="wordsbool0 ==='true'" id = {{wordsval0}} class = 'f2 mw6 tc ttu' >Upcoming Parties & Events </h2>
<div *ngIf="wordsbool1 ==='true'" id = {{wordsval1}} class = 'mw3 ml2-l ml2-m'></div>
<h3  *ngIf="wordsbool2 ==='true'" id = {{wordsval2}} class = 'f4 fw1 mw6 tc' >Fuerat aestu carentem habentia spectent tonitrua mutastis locavit liberioris. Sinistra possedit litora ut nabataeaque. Setucant coepyterunt perveniunt animal! Concordi aurea nabataeaque seductaque constaque cepit sublime flexi nullus.</h3>
<div *ngIf="wordsbool3 ==='true'" id = {{wordsval3}} class = 'mw2'></div>

