<ng-container *ngFor = 'let a of wordsStyle[0]' >
    <h2   #mywordsval *ngIf="wordsbool[0] ==='true'" id = {{wordsVal[0]}} class = 'f2 mw6 tc ttu'   >Upcoming Parties & Events </h2>
</ng-container>
<ng-container *ngFor = 'let a of wordsStyle[1]' >
    <div #mywordsval  *ngIf="wordsbool[1] ==='true'" id = {{wordsVal[1]}} class = 'mw3 ml2-l ml2-m'></div>
</ng-container>
<ng-container *ngFor = 'let a of wordsStyle[2]' >
    <h3  #mywordsval  *ngIf="wordsbool[2] ==='true'" id = {{wordsVal[2]}} class = 'f4 fw1 mw6 tc' >Fuerat aestu carentem habentia spectent tonitrua mutastis locavit liberioris. Sinistra possedit litora ut nabataeaque. Setucant coepyterunt perveniunt animal! Concordi aurea nabataeaque seductaque constaque cepit sublime flexi nullus.</h3>
</ng-container>
<ng-container *ngFor = 'let a of wordsStyle[3]' >
    <div  #mywordsval  *ngIf="wordsbool[3] ==='true'" id = {{wordsVal[3]}} class = 'mw2'  ></div>
</ng-container>
<ng-container *ngFor = 'let a of wordsStyle[4]' >
    <p  #mywordsval  *ngIf="wordsbool[4] ==='true'" id = {{wordsVal[4]}} class = ''  >Trying to stay on a specific diet? We Can Help!</p>
</ng-container>


