<ng-container *ngIf ="wordsService.appCurrentNav === '/home'">
    <app-navigation     [navigationTemplateVariable] = '"navigationComponentObject0"' #appNavigationVal0 ></app-navigation>
    <!-- <app-overlay [overlayTemplateVariable]= '"overlayComponentObject0"' #appOverlayVal0 [ngStyle] = 'wordsService.overlayComponentObject0.ngStyle[0]'></app-overlay> -->
    <!-- <app-overlay [overlayTemplateVariable]= '"overlayComponentObject1"' #appOverlayVal1 [ngStyle] = 'wordsService.overlayComponentObject1.ngStyle[0]'></app-overlay> -->
    <!-- <app-overlay [overlayTemplateVariable]= '"overlayComponentObject2"' #appOverlayVal2 [ngStyle] = 'wordsService.overlayComponentObject2.ngStyle[0]'></app-overlay> -->
    <!-- <app-overlay [overlayTemplateVariable]= '"overlayComponentObject3"' #appOverlayVal3 [ngStyle] = 'wordsService.overlayComponentObject3.ngStyle[0]'></app-overlay> -->
    <!-- <app-overlay routerLink="/about" routerLinkActive="active"  [overlayTemplateVariable]= '"overlayComponentObject4"' #appOverlayVal4 [ngStyle] = 'wordsService.overlayComponentObject4.ngStyle[0]'></app-overlay> -->
    <app-words routerLink="/about" routerLinkActive="active"  [wordsTemplateVariable] = '"wordsComponentObject1"' #appWordsVal1 [ngStyle] = 'wordsService.wordsComponentObject1.quantity[0][0].ngStyle[0][0]' ></app-words>
    <app-words  [wordsTemplateVariable] = '"wordsComponentObject0"' #appWordsVal0 [ngStyle] = 'wordsService.wordsComponentObject0.quantity[0][0].ngStyle[0][0]' [id] = 'wordsService.wordsComponentObject0.quantity[0][0].val[0][0]' ></app-words>
    <app-words [wordsTemplateVariable] = '"wordsComponentObject2"' #appWordsVal2 [ngStyle] = 'wordsService.wordsComponentObject2.quantity[0][0].ngStyle[0][0]'  ></app-words>
    <app-footer [footerTemplateVariable] = '"footerComponentObject0"' #appFooterVal0 [ngStyle] = 'wordsService.footerComponentObject0.quantity[0][0].ngStyle[0][0]' ></app-footer>
</ng-container>

<ng-container *ngIf ="wordsService.appCurrentNav === '/about'">
    <!-- <app-navigation  [navigationTemplateVariable] = '"navigationComponentObject0"' #appNavigationVal0 ></app-navigation>  -->
    <!-- <app-words routerLink="/home" routerLinkActive="active"   [wordsTemplateVariable] = '"wordsComponentObject1"' #appWordsVal1 [ngStyle] = 'wordsService.wordsComponentObject1.ngStyle[0]' ></app-words> -->
    <!-- <app-words [wordsTemplateVariable] = '"wordsComponentObject2"' #appWordsVal2 [ngStyle] = 'wordsService.wordsComponentObject2.ngStyle[0]' ></app-words> -->
    <app-footer routerLink="/home" routerLinkActive="active"    [footerTemplateVariable] = '"footerComponentObject0"' #appFooterVal0 [ngStyle] = 'wordsService.footerComponentObject0.quantity[0][0].ngStyle[0][0]' ></app-footer>
</ng-container>


<ng-container *ngIf ="wordsService.appCurrentNav === '/services'">
    <!-- <app-navigation  [navigationTemplateVariable] = '"navigationComponentObject0"' #appNavigationVal0 ></app-navigation>  -->
    <!-- <app-words routerLink="/home" routerLinkActive="active"   [wordsTemplateVariable] = '"wordsComponentObject1"' #appWordsVal1 [ngStyle] = 'wordsService.wordsComponentObject1.ngStyle[0]' ></app-words> -->
    <app-footer routerLink="/about" routerLinkActive="active"    [footerTemplateVariable] = '"footerComponentObject0"' #appFooterVal0 [ngStyle] = 'wordsService.footerComponentObject0.quantity[0][0].ngStyle[0][0]' ></app-footer>
</ng-container>