<app-navigation  [navigationTemplateVariable] = '"navigationComponentObject0"' #appNavigationVal0 ></app-navigation>
<!-- <app-overlay [overlayTemplateVariable]= '"overlayComponentObject0"' #appOverlayVal0 [ngStyle] = 'wordsService.overlayComponentObject0.ngStyle[0]'></app-overlay> -->
<app-overlay [overlayTemplateVariable]= '"overlayComponentObject1"' #appOverlayVal1 [ngStyle] = 'wordsService.overlayComponentObject1.ngStyle[0]'></app-overlay>
<!-- <app-overlay [overlayTemplateVariable]= '"overlayComponentObject2"' #appOverlayVal2 [ngStyle] = 'wordsService.overlayComponentObject2.ngStyle[0]'></app-overlay> -->
<!-- <app-overlay [overlayTemplateVariable]= '"overlayComponentObject3"' #appOverlayVal3 [ngStyle] = 'wordsService.overlayComponentObject3.ngStyle[0]'></app-overlay> -->
<!-- <app-overlay [overlayTemplateVariable]= '"overlayComponentObject4"' #appOverlayVal4 [ngStyle] = 'wordsService.overlayComponentObject4.ngStyle[0]'></app-overlay> -->
<!-- <app-words [wordsTemplateVariable] = '"wordsComponentObject0"' #appWordsVal0 ></app-words> -->
<!-- <app-words [wordsTemplateVariable] = '"wordsComponentObject1"' #appWordsVal1></app-words> -->
<!-- <app-words [wordsTemplateVariable] = '"wordsComponentObject2"' #appWordsVal2></app-words> -->

