<ng-container *ngIf ="wordsService.appCurrentNav  === '/home' || wordsService.appCurrentNav  === '/' ">
    <app-navigation   [navigationTemplateVariable] = '"navigationComponentObject0"' #appNavigationVal0 ></app-navigation>
    <app-overlay   [overlayTemplateVariable]= '"overlayComponentObject4"' #appOverlayVal4 [ngStyle] = 'wordsService.overlayComponentObject4.quantity[0][0].ngStyle[0][0]'></app-overlay>
    <app-words   [wordsTemplateVariable] = '"wordsComponentObject1"' #appWordsVal1 [ngStyle] = 'wordsService.wordsComponentObject1.quantity[0][0].ngStyle[0][0]' ></app-words>
    <app-words  [wordsTemplateVariable] = '"wordsComponentObject0"' #appWordsVal0 [ngStyle] = 'wordsService.wordsComponentObject0.quantity[0][0].ngStyle[0][0]' [id] = 'wordsService.wordsComponentObject0.quantity[0][0].val[0][0]' ></app-words>
    <app-words [wordsTemplateVariable] = '"wordsComponentObject2"' #appWordsVal2 [ngStyle] = 'wordsService.wordsComponentObject2.quantity[0][0].ngStyle[0][0]'  ></app-words>
    <app-footer [footerTemplateVariable] = '"footerComponentObject0"' #appFooterVal0 [ngStyle] = 'wordsService.footerComponentObject0.quantity[0][0].ngStyle[0][0]' ></app-footer>
</ng-container>

<ng-container *ngIf ="wordsService.appCurrentNav  === '/about'">
    <app-navigation   [navigationTemplateVariable] = '"navigationComponentObject0"' #appNavigationVal0 ></app-navigation> 
    <app-overlay [overlayTemplateVariable]= '"overlayComponentObject3"' #appOverlayVal3 [ngStyle] = 'wordsService.overlayComponentObject3.quantity[0][0].ngStyle[0][0]'></app-overlay>    
    <app-words  [wordsTemplateVariable] = '"wordsComponentObject5"' #appWordsVal5 [ngStyle] = 'wordsService.wordsComponentObject5.quantity[0][0].ngStyle[0][0]'  ></app-words>   
    <app-footer     [footerTemplateVariable] = '"footerComponentObject0"' #appFooterVal0 [ngStyle] = 'wordsService.footerComponentObject0.quantity[0][0].ngStyle[0][0]' ></app-footer>
</ng-container>


<ng-container *ngIf ="wordsService.appCurrentNav  === '/services'">
    <app-navigation    [navigationTemplateVariable] = '"navigationComponentObject0"' #appNavigationVal0 ></app-navigation> 
    <app-overlay [overlayTemplateVariable]= '"overlayComponentObject0"' #appOverlayVal0 [ngStyle] = 'wordsService.overlayComponentObject0.quantity[0][0].ngStyle[0][0]'></app-overlay>
    <app-words  [wordsTemplateVariable] = '"wordsComponentObject3"' #appWordsVal3 [ngStyle] = 'wordsService.wordsComponentObject3.quantity[0][0].ngStyle[0][0]'  ></app-words>    
    <app-words  [wordsTemplateVariable] = '"wordsComponentObject4"' #appWordsVal4 [ngStyle] = 'wordsService.wordsComponentObject4.quantity[0][0].ngStyle[0][0]'  ></app-words>    
    <app-footer    [footerTemplateVariable] = '"footerComponentObject0"' #appFooterVal0 [ngStyle] = 'wordsService.footerComponentObject0.quantity[0][0].ngStyle[0][0]' ></app-footer>
</ng-container>


<ng-container *ngIf ="wordsService.appCurrentNav  === '/projects'">
    <app-navigation   [navigationTemplateVariable] = '"navigationComponentObject0"' #appNavigationVal0 ></app-navigation> 
    <app-overlay [overlayTemplateVariable]= '"overlayComponentObject1"' #appOverlayVal1 [ngStyle] = 'wordsService.overlayComponentObject1.quantity[0][0].ngStyle[0][0]'></app-overlay>
    <app-words  [wordsTemplateVariable] = '"wordsComponentObject6"' #appWordsVal6 [ngStyle] = 'wordsService.wordsComponentObject6.quantity[0][0].ngStyle[0][0]'  ></app-words> 
    <app-words  [wordsTemplateVariable] = '"wordsComponentObject7"' #appWordsVal7 [ngStyle] = 'wordsService.wordsComponentObject7.quantity[0][0].ngStyle[0][0]'  ></app-words>
    <app-words  [wordsTemplateVariable] = '"wordsComponentObject8"' #appWordsVal8 [ngStyle] = 'wordsService.wordsComponentObject8.quantity[0][0].ngStyle[0][0]'  ></app-words>     
    <app-footer   [footerTemplateVariable] = '"footerComponentObject0"' #appFooterVal0 [ngStyle] = 'wordsService.footerComponentObject0.quantity[0][0].ngStyle[0][0]' ></app-footer>
</ng-container>

<ng-container *ngIf ="wordsService.appCurrentNav  === '/contact'">
    <app-navigation   [navigationTemplateVariable] = '"navigationComponentObject0"' #appNavigationVal0 ></app-navigation> 
    <app-overlay [overlayTemplateVariable]= '"overlayComponentObject2"' #appOverlayVal2 [ngStyle] = 'wordsService.overlayComponentObject2.quantity[0][0].ngStyle[0][0]'></app-overlay>
    <app-words   [wordsTemplateVariable] = '"wordsComponentObject9"' #appWordsVal8 [ngStyle] = 'wordsService.wordsComponentObject9.quantity[0][0].ngStyle[0][0]'  ></app-words>       
    <app-footer  [footerTemplateVariable] = '"footerComponentObject0"' #appFooterVal0 [ngStyle] = 'wordsService.footerComponentObject0.quantity[0][0].ngStyle[0][0]' ></app-footer>
</ng-container>