


<ng-container *ngFor = 'let a of wordsService[blogTV].quantity[1];let b = index' >


    <ng-container *ngFor = 'let aa of a.quantity[0];let bb = index'  >
        <div #myBlogVal *ngIf= "a.bool[0][bb] ==='true'" id = {{a.val[0][bb]}}
        [ngStyle] = 'a.ngStyle[0][bb]' ></div>
    </ng-container>

    <ng-container *ngFor = 'let aa of a.quantity[1];let bb = index' >
        <h1 #myBlogVal *ngIf= "a.bool[1][bb] ==='h1' else elseBlock2" id = {{a.val[1][bb]}} 
        [ngStyle] = 'a.ngStyle[1][bb]'  >{{a.text[1][bb]}}</h1>
        <ng-template #elseBlock2  > 
            <h2 #myBlogVal *ngIf= "a.bool[1][bb] ==='h2' else elseBlock3" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]'  >{{a.text[1][bb]}}</h2>            
        </ng-template>   
        <ng-template #elseBlock3  > 
            <h3 #myBlogVal *ngIf= "a.bool[1][bb] ==='h3' else elseBlock4" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]'  >{{a.text[1][bb]}}</h3>            
        </ng-template>
        <ng-template #elseBlock4  > 
            <h4 #myBlogVal *ngIf= "a.bool[1][bb] ==='h4' else elseBlock5" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]'  >{{a.text[1][bb]}}</h4>            
        </ng-template>     
        <ng-template #elseBlock5  > 
            <h5 #myBlogVal *ngIf= "a.bool[1][bb] ==='h5' else elseBlock6" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]'  >{{a.text[1][bb]}}</h5>            
        </ng-template>    
        <ng-template #elseBlock6  > 
            <h6 #myBlogVal *ngIf= "a.bool[1][bb] ==='h6' else elseBlock7" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]'  >{{a.text[1][bb]}}</h6>            
        </ng-template> 
        <ng-template #elseBlock7  > 
            <a #myBlogVal *ngIf= "a.bool[1][bb] ==='a' else elseBlock8" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]' href ={{a.metadata.router[1][bb]}} >{{a.text[1][bb]}}</a>            
        </ng-template> 
        <ng-template #elseBlock8  > 
            <p #myBlogVal *ngIf= "a.bool[1][bb] ==='p' else elseBlock9" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]' >{{a.text[1][bb]}}</p>            
        </ng-template> 
        <ng-template #elseBlock9  > 
            <code #myBlogVal *ngIf= "a.bool[1][bb] ==='code' else elseBlock10" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]' href ={{a.metadata.router[1][bb]}} >{{a.text[1][bb]}}</code>            
        </ng-template> 
        <ng-template #elseBlock10  > 
            <span #myBlogVal *ngIf= "a.bool[1][bb] ==='span' else elseBlock11" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]' href ={{a.metadata.router[1][bb]}} >{{a.text[1][bb]}}</span>            
        </ng-template> 
        <ng-template #elseBlock11  > 
            <strong #myBlogVal *ngIf= "a.bool[1][bb] ==='strong' else elseBlock12" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]' href ={{a.metadata.router[1][bb]}} >{{a.text[1][bb]}}</strong>            
        </ng-template> 
        <ng-template #elseBlock12  > 
            <input #myBlogVal *ngIf= "a.bool[1][bb] ==='i' else elseBlock13" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]' href ={{a.metadata.router[1][bb]}} >{{a.text[1][bb]}}</input>            
        </ng-template> 
        <ng-template #elseBlock13  > 
            <textarea #myBlogVal *ngIf= "a.bool[1][bb] ==='ta' else elseBlock14" id = {{a.val[1][bb]}} 
            [ngStyle] = 'a.ngStyle[1][bb]' href ={{a.metadata.router[1][bb]}} >{{a.text[1][bb]}}</input>            
        </ng-template>                                                                                                 
    </ng-container>



    <ng-container *ngFor = 'let aa of a.quantity[2];let bb = index' >
        <div #myBlogVal *ngIf= "a.bool[2][bb] ==='div'   else pictureBlock0" id = {{a.val[2][bb]}} [ngStyle] = 'a.ngStyle[2][bb]' ></div>     
        <ng-template #pictureBlock0  >    
            <img #myBlogVal *ngIf= "a.bool[2][bb] ==='img' else pictureBlock1" id = {{a.val[2][bb]}} [ngStyle] = 'a.ngStyle[2][bb]' src="{{a.metadata.image[2][bb]}}" />
        </ng-template>  
        <ng-template #pictureBlock1  >    
            <button #myBlogVal *ngIf= "a.bool[2][bb] ==='button' else pictureBlock2 " id = {{a.val[2][bb]}}  [ngStyle] =  'a.ngStyle[2][bb]'  >{{a.text[2][bb]}}</button>
        </ng-template> 
        <ng-template #pictureBlock2  >    
            <embed #myBlogVal *ngIf= "a.bool[2][bb] ==='embed' else pictureBlock3" id = {{a.val[2][bb]}}  [ngStyle] =  'a.ngStyle[2][bb]'  >{{a.text[2][bb]}}</embed>
        </ng-template>           
        <ng-template #pictureBlock3  >    
            <video #myBlogVal *ngIf= "a.bool[2][bb] ==='video' else pictureBlock4" id = {{a.val[2][bb]}}  [ngStyle] =  'a.ngStyle[2][bb]'  >{{a.text[2][bb]}}</embed>
        </ng-template>                      
        <ng-template #pictureBlock4  >    
            <audio #myBlogVal *ngIf= "a.bool[2][bb] ==='audio' else pictureBlock5" id = {{a.val[2][bb]}}  [ngStyle] =  'a.ngStyle[2][bb]'  >{{a.text[2][bb]}}</audio>
        </ng-template>                               
    </ng-container>    

     
    

</ng-container>



