<ng-container *ngFor = 'let a of wordsService[navigationTemplateVariable].quantity[1];let b = index' >
  
    <ng-container *ngFor = 'let aa of a.quantity[0];let bb = index' >
        <div  #myNavigationVal *ngIf= "a.bool[0][bb] ==='true'" id = {{a.val[0][bb]}} [ngStyle] = 'a.ngStyle[0][bb]'  ></div>        
    </ng-container>

    <ng-container *ngFor = 'let aa of a.quantity[1];let bb = index' >
        <h1 #myNavigationVal *ngIf= "a.bool[1][bb] ==='true'" id = {{a.val[1][bb]}} 
        [ngStyle] = 'a.ngStyle[1][bb]'  >{{a.text[1][bb]}}</h1>
    </ng-container>

    <ng-container *ngFor = 'let aa of a.quantity[2];let bb = index' >
        <h2 #myNavigationVal *ngIf= "a.bool[2][bb] ==='true'" id = {{a.val[2][bb]}} 
        [ngStyle] = 'a.ngStyle[2][bb]'  >{{a.text[2][bb]}}</h2>
    </ng-container>    

    <ng-container *ngFor = 'let aa of a.quantity[3];let bb = index' >
        <img #myNavigationVal *ngIf= "a.bool[3][bb] ==='true'" id = {{a.val[3][bb]}} 
        src="{{a.metadata.image[bb].src}}" [ngStyle] = 'a.ngStyle[3][bb]' alt ="{{a.metadata.image[bb].alt}}">
    </ng-container>  

    <ng-container *ngFor = 'let aa of a.quantity[4];let bb = index' >
        <a #myNavigationVal routerLink={{a.metadata.router[4][bb].link}} routerLinkActive="active"  *ngIf= "a.bool[4][bb] ==='true'" id = {{a.val[4][bb]}} 
        [ngStyle] = 'a.ngStyle[4][bb]'>{{a.text[4][bb]}}</a>
    </ng-container>    
    

    <ng-container *ngFor = 'let aa of a.quantity[5];let bb = index' >
        <div #myNavigationVal   *ngIf= "a.bool[5][bb] ==='true'  else elseBlock3" id = {{a.val[5][bb]}} [ngStyle] = 'a.ngStyle[5][bb]' ></div>
        <ng-template #elseBlock3  > 
            <i #myNavigationVal  *ngIf="a.bool[5][bb] ==='icon'" id = {{a.val[5][bb]}} [ngStyle] = 'a.ngStyle[5][bb]' class = 'material-icons' >menu</i>
        </ng-template> 
    </ng-container>    
    

    
<!-- for the menu icon try to use &#9776; ☰ -->


</ng-container>


