


/* You can add global styles to this file, and also import other style files */




@font-face {
  font-family: "Noto Sans";
  src: url('assets/fonts/noto_sans.woff2') format('woff2')
    /*url('/src/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');*/
}

@font-face {
    font-family: "Big Shoulders-Medium";
    src: url('assets/fonts/BigShoulders/BigShouldersDisplay-Medium.ttf') format('woff2')
      /*url('/src/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');*/
  }
  

#w_o_r_d_s_Title {
    border: 1px solid black;
    font-family:'Noto Sans';
}


#w_o_r_d_s_Line {
    border-top-style:solid;
    border-top-width:3px;
    border-top-color:#fb2056;
    width:15%;
    margin-left: 13rem;
    /*margin-left:15%;*/
}


#w_o_r_d_s_paragraph {
    /*border: 1px solid black;*/
    font-family:'Noto Sans';
}

#w_o_r_d_s_Dash {
    border-top-style:solid;
    border-top-width:3px;
    border-top-color:#fb2056;
    width:1rem;

}

#w_o_r_d_s_paragraphDash {

    font-family:'Noto Sans';

}

@media screen and (max-width:30em){

  #w_o_r_d_s_Line {
      margin-left: 42%; 
  }
    
   
}

/* navigation */

#n_a_v_i_g_a_t_i_o_n_Bar {
    background-color:#FFC0CB
}

#n_a_v_i_g_a_t_i_o_n_Title{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
}

#n_a_v_i_g_a_t_i_o_n_SubTitle{
    font-family:'Roboto',sans-serif;
}