


/* You can add global styles to this file, and also import other style files */



@font-face {
  font-family: "Noto Sans";
  src: url('assets/fonts/noto_sans.woff2') format('woff2')
    /*url('/src/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');*/
}


#w_o_r_d_s {
    border: 1px solid black;
    font-family:'Noto Sans';
}


#w_o_r_d_s_Line {
    border-top-style:solid;
    border-top-width:3px;
    border-top-color:#fb2056;
    width:15%;
    margin-left: 13rem;
    /*margin-left:15%;*/
}


#w_o_r_d_s_paragraph {
    /*border: 1px solid black;*/
    font-family:'Noto Sans';
}

#w_o_r_d_s_Dash {
    border-top-style:solid;
    border-top-width:3px;
    border-top-color:#fb2056;
    width:1rem;
    margin: 1rem;
    bottom:10em;
    /*position:relative;*/
}

#w_o_r_d_s_paragraphDash {
    /*border: 1px solid black;*/
    font-family:'Noto Sans';
    /*text-indent:2em;*/
    /*padding:3em;*/
    /*text-align:justify;*/
}

@media screen and (max-width:30em){

    #w_o_r_d_s_Line {
        margin-left: 42%; 
    }
}

@media screen and (max-width:17em){

    /*#w_o_r_d_s_orangeLine {*/
    /*    margin-left: 5rem ;*/
    /*}*/
    
}