<ng-container *ngFor = 'let a of wordsService[overlayTemplateVariable].quantity[1];let b = index' >

    <ng-container *ngFor = 'let aa of a.quantity[0];let bb = index' >
        <img  #myOverlayVal *ngIf= "a.bool[0][bb] ==='true'" id = {{a.val[0][bb]}} [ngStyle] = 'a.ngStyle[0][bb]' 
        src="{{a.metadata.image[bb].src}}" alt ="{{a.metadata.image[bb].alt}}"/>        
    </ng-container>

    <ng-container *ngFor = 'let aa of a.quantity[1];let bb = index' >
        <h1  #myOverlayVal *ngIf= "a.bool[1][bb] ==='true'" id = {{a.val[1][bb]}} [ngStyle] = 'a.ngStyle[1][bb]' >{{a.text[1][bb]}}</h1>        
    </ng-container>    

    <ng-container *ngFor = 'let aa of a.quantity[2];let bb = index' >
        <h2  #myOverlayVal *ngIf= "a.bool[2][bb] ==='true'" id = {{a.val[2][bb]}} [ngStyle] = 'a.ngStyle[2][bb]' >{{a.text[2][bb]}}</h2>        
    </ng-container> 
    
    <ng-container *ngFor = 'let aa of a.quantity[3];let bb = index' >
        <h3  #myOverlayVal *ngIf= "a.bool[3][bb] ==='true'" id = {{a.val[3][bb]}} [ngStyle] = 'a.ngStyle[3][bb]' >{{a.text[3][bb]}}</h3>        
    </ng-container>   
    
    <ng-container *ngFor = 'let aa of a.quantity[4];let bb = index' >
        <p  #myOverlayVal *ngIf= "a.bool[4][bb] ==='true'" id = {{a.val[4][bb]}} [ngStyle] = 'a.ngStyle[4][bb]' >{{a.text[4][bb]}}</p>        
    </ng-container>     

    <ng-container *ngFor = 'let aa of a.quantity[5];let bb = index' >
        <div  #myOverlayVal *ngIf= "a.bool[5][bb] ==='true' else elseBlock2" id = {{a.val[5][bb]}} [ngStyle] = 'a.ngStyle[5][bb]' ></div>     
        <ng-template #elseBlock2  > 
            <button #myOverlayVal *ngIf= "a.bool[5][bb] ==='button' " id = {{a.val[5][bb]}}  [ngStyle] =  'a.ngStyle[5][bb]'  ></button>
        </ng-template>    
    </ng-container>       


</ng-container>